.modal-content.regbox {
    width: 40%;
}

.regform {
    text-align: left;
}

#registration_box {
    display: none;
}

#header span {
    float: right;
    text-align: right;
}

#modal_table_body {
    text-align: center;
}

#modal_cloning {
    display: none;
}

#residents_button_x {
    display: none;
}

.resident {
    border-radius: 10px;
}

#button_container {
    height: 3em;
    margin: 1em;
    margin-left: 0em;
}

.button {
    background: skyblue;
    display: inline-block;
    height: 3em;
    border-radius: 10px;
}

#cloning {
    display: none;
}

body {
    background: lavender;
}

thead {
    border-top: 1px solid lavender;
    border-bottom: 1px solid lavender;
}

th {
    text-align: center;
}

#planets_table {
    margin: auto;
    text-align: center;
}

tr {
    height: 3em;
}

tr:nth-child(even) {
    background-color: lightskyblue;
}

#planet_data_x {
    display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: lavender;
    color: skyblue;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    position: relative;
    overflow: auto;
    }

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: lavender;
    color: skyblue;
    height: 20px;
    }

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}