<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script src="{{url_for('static', filename='dataHandler.js')}}" defer></script>
    <script src="{{url_for('static', filename='dom.js')}}" defer></script>
    <script src="{{url_for('static', filename='main.js')}}" defer></script>
    <title>Star Wars</title>
</head>
<body>
    <div class="col-sm-12" id="header">
        <h1>Planets of the Star Wars Universe</h1>
        <span class="col-sm-6" id="login_box">
            <h2>
                <button class="col-sm-6" id="registration">Registration</button>
                <button class="col-sm-6" id="login">Log In</button>
            </h2>
        </span>
    </div>
    <div class="col-sm-3" id="button_container">
    <button class="col-sm-6 button" id="previous">Previous</button>
    <button class="col-sm-6 button" id="next">Next</button>
    </div>
    <table class="col-sm-12" id="planets_table">
        <thead>
            <tr id="planets_table_header">
                <th class="col-sm-2">Name</th>
                <th class="col-sm-1">Diameter (in km)</th>
                <th class="col-sm-2">Climate</th>
                <th class="col-sm-2">Terrain</th>
                <th class="col-sm-1">Surface Water</th>
                <th class="col-sm-2">Population</th>
                <th class="col-sm-2">Residents</th>
            </tr>
        </thead>
        <tbody id="planets_data">
        </tbody>
    </table>
    <table id="cloning">
        <tr id="planet_data_x">
            <td class="col-sm-2" id="name_x">pina</td>
            <td class="col-sm-1" id="diameter_x">pina</td>
            <td class="col-sm-2" id="climate_x">pina</td>
            <td class="col-sm-2" id="terrain_x">pina</td>
            <td class="col-sm-1" id="surface_x">pina</td>
            <td class="col-sm-2" id="population_x">pina</td>
            <td class="col-sm-2 residents" id="residents_x">pina</td>
        </tr>
    </table>

    <button id="residents_button_x" class="col-sm-12 resident"></button>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 class="col-sm-12" id="modal_header"></h2>
            </div>
            <div class="modal-body">
                    <table class="col-sm-12" id="modal_table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Height</th>
                                <th>Mass</th>
                                <th>Skin Color</th>
                                <th>Hair Color</th>
                                <th>Eye Color</th>
                                <th>Birth Year</th>
                                <th>Gender</th>
                            </tr>
                        </thead>
                        <tbody id="modal_table_body">
                        </tbody>
                    </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>

<table id="modal_cloning">
    <tr id="residents_data_x">
        <td class="col-sm-2" id="residents_name_x"></td>
        <td class="col-sm-2" id="residents_height_x"></td>
        <td class="col-sm-2" id="residents_mass_x"></td>
        <td class="col-sm-2" id="residents_skin_color_x"></td>
        <td class="col-sm-2" id="residents_hair_color_x"></td>
        <td class="col-sm-1" id="residents_eye_color_x"></td>
        <td class="col-sm-1" id="residents_birth_year_x"></td>
        <td class="col-sm-1" id="residents_gender_x"></td>
    </tr>
</table>

<div id="registration_box" class="modal">
        <div class="modal-content regbox">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 class="col-sm-12" id="registration_form_header">Registration</h2>
            </div>
            <div class="modal-body">
                <form class="col-sm-12 regform" id="registration_form">
                    <p class="col-sm-6">
                        Username:
                    </p>
                    <p class="col-sm-6">
                        <input type="textarea" id="username">
                    </p>
                    <p class="col-sm-6">
                        Password:
                    </p>
                    <p class="col-sm-6">
                        <input type="password" id="password">
                    </p>
                    <p class="col-sm-6">
                        Password again:
                    </p>
                    <p class="col-sm-6">
                        <input type="password" id="password_check">
                    </p>
                </form>
                    <div class="col-sm-12" id="regbuttons">
                        <button id="save">Registration</button>
                        <button id="cancel">Cancel</button>
                    </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</body>
</html>


